BasedOnStyle: Google

ColumnLimit: 100

DerivePointerAlignment: false
PointerAlignment: Left

AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
